body{
	background: #696969;
	font-family: Verdana;
	max-width:1900px;
	margin:auto;
	
}


#title, subtitle, post_title, subsubtitle {
	color: black;
}

#title{
	font-size:50px;
}

a{
	text-decoration: underline;
	color:black;
	font-weight:bold;
}


.post_title{
	font-size: 20px;
	font-style: italic;
	margin:0px;
	margin-bottom:10px;
}
.subsubtitle{
	font-size: 19px;
	font-weight: bold;
	margin:0px;
	margin-bottom:10px;
}
.post {
	text-transform:capitalize;
	background: #808080; /*da pra escolher qqr cor, melhor ir no w3schools*/
	padding: 10px;
	border: 3px dotted #000; /*tipos de borda: solid, dash, dotted */
	margin-bottom: 10px;
	border-radius: 15px;
}
.post2{
	background: #808080;
	padding: 10px 15px 5px 50px; /*top, right, bottom, left(da pra mudar um lado só usando padding-lado). 2 valores = y e x*/
	border: 2px solid #000;
	border-top:50px dashed #057;
	border-bottom:50px dashed #057;
	margin-bottom: 10px;
	border-radius: 15px;
}
.post3{
	color: #909090;
	background-image: url("discord.png");
	padding: 20px 30px 20px 50px;
	border: 2px dashed #000;
	margin-bottom: 10px;
	border-radius: 15px;
	
}
.post4 {
	background: #808080;
	padding: 10px;
	border: 3px dotted #000;
	margin-bottom: 10px;
	border-radius: 15px;
	text-align:right;
	border
}
.imagem{
	padding:0px;
	border-radius: 50%; /*da pra por pixels ou %. 50% é um circulo.*/
	border: 5px solid #000;
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:15%;
}
.postcontent{
	margin:0;
	margin-bottom:10px;
}
ul{
	list-style-image: url("joinha.png");
	margin-left:70px;
}
.lista{
	list-style-type: none;
}
.imagem2{
	width:32%;
}